<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="border: 0;margin:0">
      <div style="height: 20vh; width: 100vw;background: rgb(136, 209, 209);margin-left: 0;">

            <img src="./logo.png" alt="search engine logo " style="border-radius:50%;display: inline;margin: 0;">
            <form action="http://localhost:5000/search"  method="post" style="display:inline ;padding-left: 70vw;">
                  <input type="text" name="nm" id="" style="width:15vw; height:2vh;">
                  <input type="image" src="./search_icon.png" alt="submit" value="submit" style="height:2vh;">
             </form>
      </div>
</body>

</html>